@-webkit-keyframes wiggle {
  0% { -webkit-transform: rotate(0deg); }
  25% { -webkit-transform: rotate(20deg); }
  75% { -webkit-transform: rotate(-20deg); }
  100% { -webkit-transform: rotate(0deg); }
}

.wiggle-animation {
  -webkit-transform: rotate(0deg);
}

.wiggle-animation:hover {
  -webkit-animation-name: wiggle;
  -webkit-animation-duration: 400ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
}
