header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 70px;
  top: 0px;
  z-index: 1; /*Always at top*/
}

.site-title {
  display: inline-block;
  margin-left: 6px;
  margin-right: 12px;
}

.main-menu {
  /*float: right;*/
  display: inline-block;
  height: 70px;
  font-style: normal;
}

a:link {
  /*Remove underline from links*/
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
}

.nav-link {
  vertical-align: middle;
  margin-left: 12px;
  margin-right: 12px;
}
